.footer-container {
  background-color: #121C1E;
  position: relative;
  bottom: 0;
  /* left: 0; */
  width: 100%;
 order: 2;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  height: 70px;
  margin: 0 auto;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  padding: 0 20px;
  transition: .3s;
}